@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: theme('colors.slate.950');
    --foreground: #F9FAFB;

    --card: theme('colors.slate.900');
    --card-foreground: #F9FAFB;

    --popover: #1E1E1E;
    --popover-foreground: #F9FAFB;

    --primary: theme('colors.blue.500');
    --primary-foreground: #F9FAFB;

    --secondary: #283042;
    --secondary-foreground: #F9FAFB;

    --muted: theme('colors.slate.800');
    --muted-foreground: theme('colors.slate.500');

    --accent: theme('colors.blue.500');
    --accent-foreground: #F9FAFB;

    --destructive: theme('colors.red.600');
    --destructive-foreground: #F9FAFB;

    --border: theme('colors.slate.800');
    --input: theme('colors.slate.800');
    --ring: theme('colors.blue.500');

    --radius: 0.5rem;

    --sidebar-background: #141414;
    --sidebar-foreground: #F9FAFB;
    --sidebar-primary: #0765E9;
    --sidebar-primary-foreground: #F9FAFB;
    --sidebar-accent: #2C3444;
    --sidebar-accent-foreground: #F9FAFB;
    --sidebar-border: #2C3444;
    --sidebar-ring: #0765E9;
  }

  .light {
    --background: #FFFFFF;
    --foreground: #111827;

    --card: #FFFFFF;
    --card-foreground: #111827;

    --popover: #FFFFFF;
    --popover-foreground: #111827;

    --primary: theme('colors.blue.500');
    --primary-foreground: #F9FAFB;

    --secondary: #E5E7EB;
    --secondary-foreground: #111827;

    --muted: #F3F4F6;
    --muted-foreground: #6B7280;

    --accent: #0765E9;
    --accent-foreground: #111827;

    --destructive: #DC2626;
    --destructive-foreground: #F9FAFB;

    --border: #D1D5DB;
    --input: #D1D5DB;
    --ring: #0765E9;

    --sidebar-background: #F3F4F6;
    --sidebar-foreground: #111827;
    --sidebar-primary: #0765E9;
    --sidebar-primary-foreground: #F3F4F6;
    --sidebar-accent: #F9FAFB;
    --sidebar-accent-foreground: #111827;
    --sidebar-border: #E5E7EB;
    --sidebar-ring: #0765E9;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
