@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: theme('colors.gray.950');
    --foreground: theme('colors.gray.50');
    --overlay: theme('colors.gray.950/80');
    --surface1: theme('colors.gray.950/80');
    --surface2: theme('colors.gray.900/80');

    --card: theme('colors.gray.950');
    --card-foreground: theme('colors.gray.50');

    --popover: theme('colors.gray.950');
    --popover-foreground: theme('colors.gray.50');

    --primary: theme('colors.blue.700');
    --primary-foreground: theme('colors.gray.50');

    --secondary: theme('colors.gray.600');
    --secondary-foreground: theme('colors.gray.50');

    --muted: theme('colors.gray.800');
    --muted-foreground: theme('colors.gray.400');

    --accent: theme('colors.blue.700');
    --accent-foreground: theme('colors.gray.50');

    --destructive: theme('colors.red.500');
    --destructive-foreground: theme('colors.red.100');
    --destructive-border: theme('colors.red.950');

    --border: theme('colors.gray.800');
    --input: theme('colors.gray.800');
    --ring: theme('colors.blue.700');

    --radius: 0.5rem;

    --sidebar-background: theme('colors.gray.900');
    --sidebar-foreground: theme('colors.gray.50');
    --sidebar-primary: #0765E9;
    --sidebar-primary-foreground: theme('colors.gray.50');
    --sidebar-accent: #2C3444;
    --sidebar-accent-foreground: theme('colors.gray.50');
    --sidebar-border: #2C3444;
    --sidebar-ring: #0765E9;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .modal-overlay {
    @apply fixed inset-0 z-50 backdrop-blur-md;
    background-color: theme('colors.overlay');
  }

  .surface1-blur {
    @apply backdrop-blur-md;
    background-color: theme('colors.surface1');
  }

  .surface2-blur {
    @apply backdrop-blur-sm;
    background-color: theme('colors.surface2');
  }

  .modal-overlay {
    @apply backdrop-blur-sm;
    background-color: theme('colors.overlay');
  }
}
