@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: theme('colors.gray.950');
    --foreground: theme('colors.gray.50');

    --card: theme('colors.gray.950');
    --card-foreground: theme('colors.gray.50');

    --popover: theme('colors.gray.950');
    --popover-foreground: theme('colors.gray.50');

    --primary: theme('colors.blue.700');
    --primary-foreground: theme('colors.gray.50');

    --secondary: theme('colors.gray.800');
    --secondary-foreground: theme('colors.gray.50');

    --muted: theme('colors.gray.500');
    --muted-foreground: theme('colors.gray.500');

    --accent: theme('colors.blue.700');
    --accent-foreground: theme('colors.gray.50');

    --destructive: theme('colors.red.600');
    --destructive-foreground: theme('colors.red.100');
    --destructive-border: theme('colors.red.900');

    --border: theme('colors.gray.800');
    --input: theme('colors.gray.800');
    --ring: theme('colors.blue.700');

    --radius: 0.5rem;

    --sidebar-background: #141414;
    --sidebar-foreground: #F9FAFB;
    --sidebar-primary: #0765E9;
    --sidebar-primary-foreground: #F9FAFB;
    --sidebar-accent: #2C3444;
    --sidebar-accent-foreground: #F9FAFB;
    --sidebar-border: #2C3444;
    --sidebar-ring: #0765E9;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
